<div class="colums">
  <div class="column is-half">
    <h1 class="is-size-3">Edit contact</h1>
  </div>

  <%= render 'form', contact: @contact %>

  <div class="column is-half">
    <%= link_to 'Show', @contact, class: "button is-small is-link is-light" %> |
    <%= link_to 'Back', contacts_path, class: "button is-small is-link is-light" %>
  </div>
</div>
