<div class="colums">
  <div class="column is-half">
    <h1 class="is-size-3">Add new contact</h1>
  </div>
  <%= render 'form', contact: @contact %>

  <div class="column is-half">
    <%= link_to 'Back', contacts_path, class: "button is-small is-link is-light" %>
  </div>
</div>
